<div class="profile-form">
  <h3>Email:</h3>
  <input type="text" size="30" pInputText [(ngModel)]="user.email"/>

  <h3>First Name:</h3>
  <input type="text" size="30" pInputText [(ngModel)]="user.firstName"/>

  <h3>Last Name:</h3>
  <input type="text" size="30" pInputText [(ngModel)]="user.lastName"/>

  <p>
    <button (click)="save()" type="button" pButton label="Save"></button>
  </p>

  <h3>Related Social Networks:</h3>

  <p class="related-socials">
    <i (click)="addSocial('facebook')" [class.active]="user.socials.facebook" class="fa fa-facebook-square"></i>
    <i (click)="addSocial('github')" [class.active]="user.socials.github" class="fa fa-github"></i>
    <i (click)="addSocial('google')" [class.active]="user.socials.google" class="fa fa-google-plus"></i>
  </p>
</div>
